.cardContainer {
  display: flex;

  gap: 20px;
}

.card {
  color: black;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 700px;
  height: 200px;
  display: grid;
  overflow: hidden;
}

.cardImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.actions button {
  padding: 8px 8px;
  margin: 5px;
  font-size: 0.9rem;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}
.addButton {
  background-color: blue;
}
