.cardContainer {
  display: flex;
  width: 100%;
  flex-direction: column; /* Установите вертикальное направление */ /* Выравнивание карточек по правому краю */
  max-height: 80vh; /* Ограничьте максимальную высоту контейнера */
  overflow-y: auto; /* Добавьте вертикальную прокрутку */
  padding: 10px; /* Добавьте отступы вокруг контейнера */
  border: 1px solid #d9d9d9; /* Установите границу для контейнера */
  border-radius: 4px; /* Закруглите углы */
  color: rgba(147, 238, 241, 0.866);
  padding-top: 70px;
}

.card {
  display: flex;
  width: 100%; /* Установите фиксированную ширину */
  margin-bottom: 10px; /* Добавьте отступ между карточками */
  /* Остальные стили карточек остаются прежними */
}
