DB=postgres://USER:PASSWORD@localhost:PORT/DATABASE_NAME
PORT=3000
SECRET_ACCESS_TOKEN=SECRET_ACCESS_TOKEN
SECRET_REFRESH_TOKEN=SECRET_REFRESH_TOKEN
CLIENT_URL=http://localhost:5173
EMAIL_USER=EMAIL_USER
EMAIL_PASS=EMAIL_PASS
RECIPIENT_EMAIL=RECIPIENT_EMAIL
JWT_SECRET=JWT_SECRET