.container {
  display: flex;
  gap: 0.3em;
}

.map {
  width: 70%;
  border: 5px solid black;
  .mapDisplay {
    width: 100%;
    height: 80vh;
  }
}

.PreBox {
  width: 30%;
}

.box {
  width: 100%;
  border: 5px solid black;
  max-height: 77vh;
  overflow: auto;
}
