.container {
	display: flex;
	gap: 1em;
}

.map {
	border: 5px solid black;
	.mapDisplay {
		width: 700px;
		height: 500px;
	}
}

.box {
  display: flex;
	border: 5px solid black;
	img {
		height: 5em;
	}
}
.location {
	border: 5px solid rgb(215, 165, 16);
}
