.footer {
  width: 100%;
  background: rgb(0 0 0 / 19.4%); /* Прозрачность */
  color: white;
  text-align: center;
  padding: 10px; /* Уменьшенный padding */
  height: 70px; /* Уменьшенная высота */
}

.text {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socialIcons a {
  color: white;
  transition: color 0.3s ease-in-out;
}

.socialIcons a:hover {
  color: #00bcd4; /* Голубой оттенок при наведении */
}